In [12]:
import pandas as pd

df = pd.read_csv("query_parser_test.csv")

In [13]:
df.head()

,user_query,__expected
0,family friendly dog friendly trail,"{'difficulty': 'Easy', 'dog_friendly': true}"
1,challenging hike over 5km with great views,"{'difficulty': 'Difficult', 'distance_min': 5...."
2,short easy hike accessible by public transit,"{'difficulty': 'Easy', 'time_max': 2.0, 'publi..."
3,beginner friendly trail under 3km,"{'difficulty': 'Easy', 'distance_max': 3.0}"
4,difficult trail with camping options,"{'difficulty': 'Difficult', 'camping': true}"

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.describe()

                                user_query              __expected
count                                  116                     116
unique                                 116                      70
top     family friendly dog friendly trail  {'difficulty': 'Easy'}
freq                                     1                      18

In [16]:
df['__expected'] = 'equals:' + df['__expected']

In [17]:
df.head()

,user_query,__expected
0,family friendly dog friendly trail,"equals:{'difficulty': 'Easy', 'dog_friendly': ..."
1,challenging hike over 5km with great views,"equals:{'difficulty': 'Difficult', 'distance_m..."
2,short easy hike accessible by public transit,"equals:{'difficulty': 'Easy', 'time_max': 2.0,..."
3,beginner friendly trail under 3km,"equals:{'difficulty': 'Easy', 'distance_max': ..."
4,difficult trail with camping options,"equals:{'difficulty': 'Difficult', 'camping': ..."

In [18]:
df.to_csv("query_parser_test_cleaned.csv")

In [19]:
df.shape

(116, 2)